{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{% static 'css/archive.css' %}" />
  </head>
  <body class="article">
    <div class="header">
      <div class="header-navbar">
        <a href="{% url 'archive' %}"
          ><img class="logo" src="{% static 'img/dpb-logo.png' %}"
        /></a>
        <p class="service-title">Блог-платформа</p>
        <div class="nav-actions">
          {% if user.is_authenticated %}
          <a href="{% url 'register' %}" class="register-link"
            >{{ user.username }}</a
          >
          <a href="{% url 'create_post' %}" class="register-link"
            >Новая запись</a
          >
          <a href="{% url 'logout' %}" class="register-link">Выйти</a>
          {% else %}
          <a href="{% url 'register' %}" class="register-link"
            >Регистрация</a
          >
          <a href="{% url 'login' %}" class="register-link">Войти</a>
          <a href="{% url 'create_post' %}" class="register-link"
            >Новая запись</a
          >
          {% endif %}
        </div>
      </div>
      <div class="parallax-banner">
        <div class="icons-for-parallax">
          <img
            class="icon-for-parallax-first"
            src="{% static 'img/article-icon-for-parallax.png' %}"
          />
          <img
            class="icon-for-parallax-second"
            src="{% static 'img/article-icon-for-parallax.png' %}"
          />
          <img
            class="icon-for-parallax-third"
            src="{% static 'img/article-icon-for-parallax.png' %}"
          />
        </div>
      </div>
    </div>
    <div class="archive">
      <a href="{% url 'archive' %}" class="return-link"
        >&larr; К списку статей</a
      >
      <div class="one-post">
        <h2 class="post-title">{{ post.title }}</h2>
        <div class="article-info">
          <div class="article-author">{{ post.author.username }}</div>
          <div class="article-created-date">{{ post.created_date }}</div>
        </div>
        <p class="article-text">{{ post.text }}</p>
      </div>
    </div>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/helloworld.js' %}"></script>
    <script src="{% static 'js/fold-post.js' %}"></script>
    <script src="{% static 'js/highlight-post.js' %}"></script>
    <script src="{% static 'js/parallax.js' %}"></script>
  </body>
</html>
